body {
  margin: 0;
}

header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 27vw;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 5vw;
  padding-right: 15vw;
  padding-bottom: 3vw;
  padding-left: 15vw;
  box-sizing: border-box;
}

header::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

header * {
  z-index: 1;
}

nav {
  margin-left: auto;
  margin-bottom: 2vw;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  width: 11%;
  height: 10%;
}

.intro {
  font-size: 3vw;
  line-height: 5vw;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  width: 48vw;
  margin: auto;
}

.menu {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  margin: 0.5vw;
}

.menu-item {
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin-left: 3vw;
  list-style: none;
}

.menu-item:hover {
  text-decoration: underline;
}

.trends {
  box-sizing: border-box;
}

.section-title {
  position: relative;
  font-size: 1.2vw;
  line-height: 1.75vw;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  padding: 1.02vw;
  margin-top: 2.77vw;
  margin-bottom: 1.69vw;
}

.section-title::after {
  position: absolute;
  content: "";
  opacity: 0.4;
  width: 4vw;
  height: 0.18vw;
  background-color: #b59f5b;
  bottom: 0;
  left: 48vw;
}

.trends > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.trend {
  margin-left: 0.24vw;
  width: 24.82vw;
  position: relative;
}

.trend:first-of-type {
  margin-left: 0;
}

.trend::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.trend * {
  z-index: 1;
}

.trend-image {
  width: 100%;
}

.trend > hgroup {
  position: absolute;
  bottom: 0.96vw;
  left: 1.2vw;
  right: 1.2vw;
  border: 3px solid #b59f5b;
  padding: 1.93vw;
}

.categories {
  display: flex;
  list-style: none;
  padding: 0;
}

.category {
  font-size: 0.84vw;
  line-height: 2.4vw;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: "Open Sans";
  margin-right: 1.2vw;
}

.category:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2vw;
  line-height: 1.45vw;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: "Open Sans";
}

.trend * .title {
  color: #ffffff;
  margin: 0;
}

.title:hover {
  color: #b59f5b;
}
